.namestyle{
    width: 75%;
    height: 40%;
    margin: 0 auto;
    display:flex;
    background: orange;
    justify-content: space-evenly;
    align-items: center
    
}

.profilepic{
    width: 10%;
    height: 100px;
    background: white;
    border-radius: 50px;
    margin: 0 0 0 0;

}
.names{
    font-family: Georgia, serif;
    font-size: 28px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
        
}

.container{
    width: 75%;
    height: 100%;
    margin:0 auto;
    background: hotpink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 .messagecontainer{
     width: 40%;
     height: 100%;
     background: #333333;
     display: flex;
     justify-content: center;
     align-items: center;

 }

.left{
    font-size: 20px;
    margin: 0 0 0 50px;
    color: white;
    
}

p{
    color:white;
}